!.env.example
*.sublime-project
*.sublime-workspace
.bash_history
.bashrc
.cache/
.DS_Store
.env*
.gitconfig
.idea
.php_cs.cache
.profile
.viminfo
/.composer/
/.idea
/.ssh/
/.vagrant
/coverage/
/Vagrantfile
/vendor/
composer.lock
composer.phar
Homestead.json
Homestead.yaml
Thumbs.db
